<?xml version="1.0"?>
<robot name="logical-table">
    <material name="grey">
        <color rgba="0.8 0.8 0.8 1"/>
    </material>


    <link name="left_front_leg">
        <collision>
            <origin xyz="0 0 0.3"/>
            <geometry>
                <box size="0.1 0.1 0.6"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0.3"/>
            <geometry>
                <box size="0.1 0.1 0.6"/>
            </geometry>
        </visual>
    </link>


    <link name="right_front_leg">
        <collision>
            <origin xyz="0 0 0.3"/>
            <geometry>
                <box size="0.1 0.1 0.6"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0.3"/>
            <geometry>
                <box size="0.1 0.1 0.6"/>
            </geometry>
        </visual>
    </link>


    <link name="left_back_leg">
        <collision>
            <origin xyz="0 0 0.3"/>
            <geometry>
                <box size="0.1 0.1 0.6"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0.3"/>
            <geometry>
                <box size="0.1 0.1 0.6"/>
            </geometry>
        </visual>
    </link>


    <link name="right_back_leg">
        <collision>
            <origin xyz="0 0 0.3"/>
            <geometry>
                <box size="0.1 0.1 0.6"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0.3"/>
            <geometry>
                <box size="0.1 0.1 0.6"/>
            </geometry>
        </visual>
    </link>


    <link name="surface">
        <collision>
            <geometry>
                <box size="1 1 0.05"/>
            </geometry>
        </collision>
        <visual>
            <geometry>
                <box size="1 1 0.05"/>
            </geometry>
        </visual>
    </link>



	<joint name="surface_to_left_front_leg" type="fixed">
        <parent link="surface"/>
        <child link="left_front_leg"/>
        <origin xyz="-0.5 -0.5 -0.625"/>
    </joint>

	<joint name="surfacd_to_left_back_leg" type="fixed">
        <parent link="surface"/>
        <child link="left_back_leg"/>
        <origin xyz="-0.5 0.5 -0.6"/>
    </joint>

	<joint name="srface_to_right_front_leg" type="fixed">
        <parent link="surface"/>
        <child link="right_front_leg"/>
        <origin xyz="0.5 -0.5 -0.6"/>
    </joint>

	<joint name="surface_to_right_back_leg" type="fixed">
        <parent link="surface"/>
        <child link="right_back_leg"/>
        <origin xyz="0.5 0.5 -0.6"/>
    </joint>




</robot>